*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #000;
}

.header_i{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  color: #fff;
}